/ {
    aliases {
        heartbeatled = &ledhb;
        hbridgein1 = &ledin1;
        hbridgein2 = &ledin2;
        hbridgein3 = &ledin3;
        hbridgein4 = &ledin4;
    };

    leds {
        compatible = "gpio-leds";
        ledhb: led_0 {
            gpios = <&gpio0 25 GPIO_ACTIVE_HIGH>;
        };
        ledin1: led_1 {
            gpios = <&gpio0 26 GPIO_ACTIVE_HIGH>;
        };
        ledin2: led_2 {
            gpios = <&gpio0 27 GPIO_ACTIVE_HIGH>;
        };
        ledin3: led_3 {
            gpios = <&gpio0 14 GPIO_ACTIVE_HIGH>;
        };
        ledin4: led_4 {
            gpios = <&gpio0 12 GPIO_ACTIVE_HIGH>;
        };
    };

    pwmleds {
        compatible = "pwm-leds";
        pwm_ena_a: pwm_ena_a {
            pwms = <&ledc0 0 10000 PWM_POLARITY_NORMAL>;
        };
        pwm_ena_b: pwm_ena_b {
            pwms = <&ledc0 1 10000 PWM_POLARITY_NORMAL>;
        };
    };
};

&pinctrl {
    ledc0_default: ledc0_default {
        group1 {
            pinmux = <LEDC_CH0_GPIO10>,
                     <LEDC_CH1_GPIO11>;
            output-enable;
        };
    };
};

&ledc0 {
    pinctrl-0 = <&ledc0_default>;
    pinctrl-names = "default";
    status = "okay";
    #address-cells = <1>;
    #size-cells = <0>;
    channel0@0 {
        reg = <0x0>;
        timer = <0>;
    };
    channel1@1 {
        reg = <0x1>;
        timer = <1>;
    };
};
